html,
body {
    margin: 0;
    padding: 0;
    color: rgba(68, 68, 68, 0.9);
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    margin:auto;
width:50%;

display: flex;
flex-direction: column;
align-items:center;
}

.computer-selection {    
   display:flex;
   align-items: center;
   flex-direction: column;
}
.computer-selection p {
    text-align:center;
}

.player-selection {
    display: flex;
    align-items: center;
}